.BotNav {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #c41200;
  color: white;
  height: 10%;
  width: 100%;
}
.buttonsWrapper {
  display: flex;
  justify-content: space-evenly;
}
