.post-wrapper {
  display: grid;
  background-color: white;
  color: #c41200;
  font-weight: bold;
  border-bottom: 0.05rem solid lightgray;
  padding: 5px;
}

.post-header {
  display: flex;
  padding: 10px 3px;
  justify-content: space-between;
}

.location-wrapper {
  display: flex;
  align-items: center;
}

.post-title {
  font-size: large;
  margin-bottom: 1%;
}

.time-wrapper {
  display: flex;
  align-items: center;
}

.post-time {
  font-size: x-small;
  color: gray;
  margin-right: 5px;
}

.post-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.post-caption {
  font-size: medium;
  font-weight: 600;
  color: black;
  margin-left: 5px;
}

.post-image {
  align-self: center;
  justify-self: center;
  width: 100%;
}
/*Need to move up likes higher*/
.like-count {
  font-size: 18px;
}

.downvote {
  width: 25px;
  height: 18px;
  stroke: black;
  stroke-width: 3px;
}

.downvote:hover {
  stroke:red;
}

.upvote {
  width: 25px;
  height: 18px;
  stroke: black;
  stroke-width: 3px;
}

.upvote:hover {
  stroke:green;
}

.vote-buttons {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

.post-footer {
  display: flex;
  color: black;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-right: 5px;
}

