.check-in-wrapper {
  display: grid;
  background-color: white;
  color: #c41200;
  font-weight: bold;
  height: 100%;
}
.check-in-form {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7f0f5;
  height: 50vh;
  width: 85vw;
  padding: 25px;
  align-items: center;
  border-radius: 35px;
}
.check-in-title {
  font-size: x-large;
}
.submit {
  color: white;
  background-color: #c41200;
  border-radius: 30px;
  padding: 10px 25px 10px 25px;
}
